.bgimg {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('https://raw.githubusercontent.com/JordyAraujo/portfolio/master/src/img/bgimg.jpg');
    min-height: 100%;
  }

nav {
    -webkit-filter: grayscale(100%);
    filter: grayscale(1);
    -webkit-transition: 0.25s;
    transition: 0.25s;
}

nav:hover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0);
}